:root{
    --primary-color: rgb(255,122,48); /* #FF7A30 */
    --secondary-color: rgb(12, 4, 0);
    --tertiary-color: #272523;
    --tertiary-light-color: #ffdeaf;
    --background-color: #111;
    --neutral-color: #bbb;  
    --black-color: #000;
    --dark-color: rgb(51,51,51); /* #333 */
    --white-color: #f1f1f1;
    --success-color: rgb(55, 108, 66); /* #376c42 */
    --light-success-color: #D6EFDB;
    --danger-color: #7F3838;
    --light-danger-color: #F7D6DF;
}

.bg-white{
    background-color: var(--white-color);
}

.bg-black{
    background-color: var(--secondary-color);
}

