@import '../variables/index.css';

.sidebar{
    max-width: 25%;
    flex: 1 1 25%;
    padding: 0 var(--a2);
}

.sidebar .sidebar-content{
    max-width: 100%;
    width: 100%;
    background-color: var(--dark-color);
    border-radius: 2px;
}

