/* Warning : For root class only (Mainly used class)! */
@import './var/index.css';

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.w-100{
    max-width: 100%;
    width: 100%;
}

.w-75{
    max-width: 75%;
    width: 75%;
}

.w-50{
    max-width: 50%;
    width: 50%;
}

.w-25{
    max-width: 25%;
    width: 25%;
}

.h-100{
    height: 100vh;
}

.text-wrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
    background-color: transparent;
    border: 0;
    border-radius: 5px;
}

.btn-primary{
    padding: var(--a2) var(--a3);
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: var(--text-xs);
    font-family: "Hind SemiBold", Arial, Helvetica, sans-serif;
}

.btn-secondary{
    padding: var(--a1) var(--a3);
    background-color: var(--tertiary-light-color);
    letter-spacing: 0.05em;
    transition-duration: .5s;
    font-family: "Hind Regular", Arial, Helvetica, sans-serif;
}

.btn-invisible{
    padding: var(--a1) var(--a3);
    font-size: var(--text-sm);
    color: var(--white-color);
    letter-spacing: 0.05em; 
    font-family: "Hind Regular", Arial, Helvetica, sans-serif;
}

.tag{
    padding: 1px 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color);
    display: inline-block;
}

.text-white{
    color: var(--white-color);
}

.text-black{
    color: var(--black-color);
}

.text-primary{
    color: var(--primary-color);
}

.text-disabled{
    color: var(--neutral-color);
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.text-italic{
    font-style: italic;
}
/* =================== */

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

/* Fixed label classes */
.label{
    padding: 4px;
    border-radius: 2px;
    font-size: var(--xs-text);
    font-weight: var(--fw-medium);
}

.label-success{
    background-color: var(--success-color);
    color: var(--light-success-color);
}

.label-danger{
    background-color: var(--danger-color);
    color: var(--light-danger-color);
}

.label-neutral{
    background-color: var(--neutral-color);
    color: var(--dark-color);
}
/* =================== */
.block{
    display: block !important;
}

.none{
    transition-duration: 1s;
    display: none !important;
}

.flex{
    transition-duration: 1s;
    display: flex !important;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-end{
    justify-content: flex-end;
}

.self-stretch{
    align-self: stretch;
}

.content-stretch{
    justify-content: stretch;
}

.content-center{
    align-content: center;
}

.content-between{
    align-content: space-between;
}

.content-around{
    align-content: space-around;
}

.items-center{
    align-items: center;
}

.items-end{
    align-items: flex-end;
}

@media (min-width: 576px) {
    .block-sm{
        display: block !important;
    }
    
    .none-sm{
        display: none !important;
    }
    
    .flex-sm{
        display: flex !important;
    }
}

@media (min-width: 768px) {
    .block-md{
        display: block !important;
    }
    
    .none-md{
        display: none !important;
    }
    
    .flex-md{
        display: flex !important;
    }
}

@media (min-width: 991px) {
    .block-lg{
        display: block !important;
    }
    
    .none-lg{
        display: none !important;
    }
    
    .flex-lg{
        display: flex !important;
    }
}

@media (min-width: 1140px) {
    .block-xl{
        display: block !important;
    }
    
    .none-xl{
        display: none !important;
    }
    
    .flex-xl{
        display: flex !important;
    }
}

.overflow-div{
    scrollbar-color: var(--primary-color) var(--white-color);
    scrollbar-width: thin;
}

.overflow-div::-webkit-scrollbar {
    height: 6px;
    border-radius: 30px;
    background-color: var(--white-color);
}

.overflow-div::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 30px;
}

.overflow-x{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.overflow-y{
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.list-style-none{
    list-style-type: none !important;
}

ul{
    list-style-type: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
}

.fit-content{
    width:fit-content;
    height:fit-content;
}
