@import './var/index.css';

@media only screen and (max-width: 600px) {
    a, p, h1, h2, h3, h4, h5, h6{
        font-size: var(--text-xs);
        line-height: 1.25em;
    }
    #navbar{
        flex-direction: column;
    }
    .logo{
        width: 25%;
    }
    .list-navbar{
        padding-top: var(--a2);
    }
    .hero-title{
        font-size: var(--text-4xl);
    }
    .video-wrapper{
        display: none;
    }
    .hero-wrapper{
        display: block;
    }
}