@import './var/index.css';
@import './icons.css';
@import './responsive.css';

@import './general.css';

body{
    font-family: 'Hind Regular', sans-serif;
    font-weight: var(--fw-medium);
    letter-spacing: 0.01em;
    line-height: 1.8em;
}

html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a{
    text-decoration: none !important;
}

.logo{
    width: 5%;
}

.container{
    max-width: 100vw;
    margin: 0;
}

.video-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper{
    display: none;
}

.video-container{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(30%);
}   

.video-content {
    position: relative;
    top: 0;
    left: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    letter-spacing: 0.05em;
}

.title{
    line-height: 1.5em;
}

.list-navbar div{
    margin: var(--a2) var(--a2);
}

.hero-title{
    font-family: "Hind Bold", Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
}

.section-title{
    letter-spacing: 0.1em;
}

#navbar{
    transition-duration: 0.4s;
}

.navbar-colored{
    transition-duration: 0.4s;
    background-color: var(--background-color);
}

#aboutus{
    background-color: var(--background-color);
}

#login div .left-login-box{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("../media/bg-1.jpg");
    background-size: cover;
}

#login div .left-login-box div.contentX{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(20%);
    -webkit-backdrop-filter: brightness(20%);
}

#aboutus div.flex div{
    width: 100%;
}

#catalogs{
    background-color: #000;
}

#recommendation{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url("../media/bg-1.jpg");
    background-size: cover;
}

#recommendation div.contentX{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(20%);
    -webkit-backdrop-filter: brightness(20%);
}

#detail, #footer{
    background-color: var(--black-color);
}

#short-ct{
    flex: 1 1 30%;
    background-color: var(--background-color);
}

#short-ct img{
    width: 20%;
}

#contact{
    flex: 1 1 70%;
    background-color: var(--primary-color);
}

#contact div{
    flex: 1 1 50%;
}

#subscription{
    background-color: var(--tertiary-light-color);
    color: var(--dark-color);
}

#subscription div:first-child{
    flex: 1 1 30%;
    line-height: 1.5em;
}

#subscription div:first-child h1{
    padding-bottom: 15px;
}

#subscription div:last-child{
    flex: 1 1 70%;
    padding-left: 20px;
}

.contact-card{
    background-color: var(--background-color);
    width: 100%;
    border-radius: 8px;
}

.bg-pr-1, .bg-pr-2, .bg-pr-3, .bg-pr-4{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 30vw;
    height: 30vw;
    word-wrap: break-word;
    border-radius: 8%; 
}

.bg-pr-1{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../media/card-pill-1.png");
}

.bg-pr-2{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../media/card-pill-2.png");
}

.bg-pr-3{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../media/card-pill-3.png");
}

.bg-pr-4{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../media/card-pill-4.png");
}

.bg-pr{
    line-height: 2.5em;
}

.productbox{
    background-color: var(--tertiary-color);
    flex: 1 1 0px;
    width: 0;
}

.productbox:not(:first-child):not(:last-child){
    margin: 0 20px;
}

.product-title{
    width: 60%;
}

.review-card{
    flex: 1 1 0px;
    width: 0;
    max-height: fit-content;
}

.review-desc{
    position: relative;
    overflow: hidden;
}

.review-desc img{
    object-fit: cover;
    width: 100%;
    height: max-content;
}

.review-visible{
    position: absolute;
    top: 0;
    left: 0;
    height: 98.5%;
    width: 100%;
    transition-duration: .5s;
    background:
    linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.9) 75%, rgb(0,0,0) 100%);
    background-repeat: no-repeat;
    background-position: 0 50px;
}

.review-visible:hover{
    transition-duration: .5s;
    background-position: 0 0;
}

.border-limit{
    border-left: 1px solid white;
    min-height: 1px;
}

.location{
    width: 100%;
}

.map{
    width: 100%;
    height: 30%;
}

.map .mapboxgl-control-container{
    display: none;
}

.mapboxgl-canvas{
    width: 50%;
}

.form-subscription input{
    border: 3px solid var(--dark-color);
    border-radius: 8px;
    background-color: transparent;
    padding: 15px;
    letter-spacing: 0.03em;
    margin-right: 10px;
    width: 100%;
}

.form-subscription input[type="submit"]{
    background-color: var(--dark-color);
    color: white;
    width: fit-content;
}

.form-subscription input:focus{
    outline-style: none;
}

#footer-link{
    flex: 1 0 50%;
}

#footer-link div{
    padding-right: 50px;
}

#footer-link div p{
    padding-bottom: 15px;
}

#footer-link div a, #footer-link div div {
    padding-bottom: 10px;
}

#closing{
    flex: 1 0 50%;
}

.closing-card{
    background-color: var(--primary-color);
    color: var(--dark-color);
    width: 50%;
    line-height: 2rem;
    border-radius: 5px;
}

.form-title{
    margin-bottom: 30px;
}

.form-box img{
    width: 13%;
    margin-bottom: 15px;
}

.form-group input{
    padding: var(--a2);
    border-radius: 10px;
    border: 0;
    margin-bottom: 10px;
    width: 100%;
}