<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumber Roda</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    
    <script src="../assets/js/script.js" async></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js' async></script>
</head>
<body>
    
    <nav>
        <div class="container px-3">
            <div class="flex flex-wrap justify-between items-center">
                <div class="logo flex justify-between items-center">
                    <a href="../index.html" class="text-primary">Sumber Roda <span class="text-white">Pontianak</span></a>
                </div>
                <ul class="list-navbar">
                    <li>
                        <a href="../index.html">Beranda</a>
                    </li>
                    <li>
                        <a href="./product.html">Produk</a>
                    </li>
                    <li class="active">
                        <a href="./aboutUs.html">Tentang Kami</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="main-content">
        <div class="container">
            <div class="flex flex-wrap">
                <div class="about-desc">
                    <div class="desc-title">
                        <h1>Sumber Roda Pontianak</h1>
                    </div>
                    <div class="desc-subtitle">
                        <h4>Semua kebutuhan mobilmu ada di sini.</h4>
                    </div>
                    <div class="desc-paragraph">
                        <p>Sumber Roda Pontianak adalah mitra terpercaya dalam memenuhi segala kebutuhan mobil Anda dengan kualitas terbaik dan harga yang bersahabat. Dari koleksi velg keren hingga aki mobil yang berkualitas, kami selalu berinovasi untuk memberikan solusi terbaik bagi kendaraan Anda. Dengan pelayanan ramah dan profesional, kami memberikan pengalaman berbelanja yang menyenangkan dan memuaskan bagi setiap pelanggan kami.</p>
                    </div>
                    <div class="desc-media background">
                        <ul>
                            <li><i class="fa fa-facebook"></i> Sumber Roda Pontianak</li>
                            <li><i class="fa fa-instagram"></i> sumber_roda</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>