<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumber Roda</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    
    <script src="../assets/js/script.js" async></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js' async></script>
</head>
<body>
    <nav>
        <div class="container px-3">
            <div class="flex flex-wrap justify-between items-center">
                <div class="logo flex justify-between items-center">
                    <a href="../index.html" class="text-primary">Sumber Roda <span class="text-white">Pontianak</span></a>
                </div>
                <ul class="list-navbar">
                    <li>
                        <a href="../index.html">Beranda</a>
                    </li>
                    <li class="active">
                        <a href="./product.html">Produk</a>
                    </li>
                    <li>
                        <a href="./aboutUs.html">Tentang Kami</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header>
        <div class="slideshow">
            <div class="slideshow-container">
                <div class="slide-wrapper">
                    <div class="slideshow-item text-center flex items-center justify-center">
                        <div class="hero-title">
                            <h1>
                                <span class="primary-text">Sumber Roda</span> Pontianak
                            </h1>
                            <h4>Semua kebutuhan mobilmu ada di sini</h4>
                        </div>
                    </div>
                    <div class="slideshow-item text-center flex items-center justify-center">
                        <div class="hero-title">
                            <h1>
                                <span class="primary-text">Sumber Roda</span> Pontianak
                            </h1>
                            <h4>Semua kebutuhan mobilmu ada di sini</h4>
                        </div>
                    </div>
                    <div class="slideshow-item text-center flex items-center justify-center">
                        <div class="hero-title">
                            <h1>
                                <span class="primary-text">Sumber Roda</span> Pontianak
                            </h1>
                            <h4>Semua kebutuhan mobilmu ada di sini</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main class="main">
        <div class="container p-3">
            <div class="main-content">
                <div class="products">
                    <div class="products-head">
                        <h4>Ban</h4>
                    </div>
                    
                    <div class="product-list">
                        <div class="product-list flex flex-wrap py-2">
                            <div class="item">
                                <a href="./detail-product.html?item-id=1" class="card">
                                    <div class="card-head py-1 bg-white">
                                        <img src="../assets/img/roda.png" alt="roda">
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="item-name"> SP SPORT MAXX 050+</div>
                                        <div class="item-price text-primary">
                                            Rp 1.237.332
                                        </div>
                                        <div class="labels flex flex-wrap gap-1">
                                            <div class="label label-danger">Promo</div>
                                            <div class="label label-success">All Size</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="./detail-product.html?item-id=1" class="card">
                                    <div class="card-head py-1 bg-white">
                                        <img src="../assets/img/roda.png" alt="roda">
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="item-name"> SP SPORT MAXX 050+</div>
                                        <div class="item-price text-primary">
                                            Rp 1.237.332
                                        </div>
                                        <div class="labels flex flex-wrap gap-1">
                                            <div class="label label-danger">Promo</div>
                                            <div class="label label-success">All Size</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="./detail-product.html?item-id=1" class="card">
                                    <div class="card-head py-1 bg-white">
                                        <img src="../assets/img/roda.png" alt="roda">
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="item-name"> SP SPORT MAXX 050+</div>
                                        <div class="item-price text-primary">
                                            Rp 1.237.332
                                        </div>
                                        <div class="labels flex flex-wrap gap-1">
                                            <div class="label label-danger">Promo</div>
                                            <div class="label label-success">All Size</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="./detail-product.html?item-id=1" class="card">
                                    <div class="card-head py-1 bg-white">
                                        <img src="../assets/img/roda.png" alt="roda">
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="item-name"> SP SPORT MAXX 050+</div>
                                        <div class="item-price text-primary">
                                            Rp 1.237.332
                                        </div>
                                        <div class="labels flex flex-wrap gap-1">
                                            <div class="label label-danger">Promo</div>
                                            <div class="label label-success">All Size</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="./detail-product.html?item-id=1" class="card">
                                    <div class="card-head py-1 bg-white">
                                        <img src="../assets/img/roda.png" alt="roda">
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="item-name"> SP SPORT MAXX 050+</div>
                                        <div class="item-price text-primary">
                                            Rp 1.237.332
                                        </div>
                                        <div class="labels flex flex-wrap gap-1">
                                            <div class="label label-danger">Promo</div>
                                            <div class="label label-success">All Size</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="./detail-product.html?item-id=1" class="card">
                                    <div class="card-head py-1 bg-white">
                                        <img src="../assets/img/roda.png" alt="roda">
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="item-name"> SP SPORT MAXX 050+</div>
                                        <div class="item-price text-primary">
                                            Rp 1.237.332
                                        </div>
                                        <div class="labels flex flex-wrap gap-1">
                                            <div class="label label-danger">Promo</div>
                                            <div class="label label-success">All Size</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>
<script lang="js" async>
    window.onload = () => {
    
    }
</script>
</html>