<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <ul class="list-navbar">
                <li class="active">
                    <p>Beranda</p>
                </li>
                <li>
                    <p>Produk</p>
                </li>
                <li>
                    <p>Kontak</p>
                </li>
                <li>
                    <p>FAQ</p>
                </li>
            </ul>
        </div>
    </header>
    
    <section id="hero-section">
        <div class="container">
            <div class="hero-title">
                <h1>
                    <span class="primary-text">Sumber Roda</span> Pontianak
                </h1>
                <h4>Semua kebutuhan mobilmu ada di sini</h4>
            </div>
            
            <div class="hero-cta">
                <button class="btn btn-outline-primary">Cek Produk</button>
            </div>
        </div>
    </section>

    <section class="items-nav text-white p-5">
        <div class="container flex flex-col justify-center align-center">
            <div class="hero-title">
                <h2>Menyediakan Berbagai Kebutuhan Mobil</h2>
            </div>
            <div class="container flex align-center justify-around py-5">
                <div class="items-card-1 flex flex-col items-center justify-center p-3">
                    <img src="../assets/img/icons/1.png">
                    <p>TYRE</p>
                </div>

                <div class="items-card-2 flex flex-col items-center justify-center p-3">
                    <img src="../assets/img/icons/2.png">
                    <p>VELG</p>
                </div>

                <div class="items-card-3 flex flex-col items-center justify-center p-3">
                    <img src="../assets/img/icons/3.png">
                    <p>OIL</p>
                </div>

                <div class="items-card-4 flex flex-col items-center justify-center p-3">
                    <img src="../assets/img/icons/4.png">
                    <p>BATTERY</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>