<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumber Roda</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    
    <script src="../assets/js/script.js" async></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js' async></script>
</head>
<body>
    <header>
        <div class="container">
            <ul class="list-navbar">
                <li>
                    <a href="./index.html">Beranda</a>
                </li>
                <li class="active">
                    <a href="./products.html">Produk</a>
                </li>
                <li>
                    <a href="#">Kontak</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </header>
    
</body>
<script lang="js" async>
    window.onload = () => {
        
    }
</script>
</html>